SDMS_REDIS_QUEUE_CONNSTR='<Connection String for Redis Queue>'
SDMS_REDIS_QUEUE_NAME='<Name of Redis Queue>'
SDMS_COSMOS_KEY='<Cosmos Account Key>'
SDMS_COSMOS_ENDPOINT='<Cosmos Endpoint>'
SDMS_STORAGE_CONNSTR='<Connection String for Azure Storage>'
SDMS_REDIS_LOCKS_CONNSTR='<Connection String for Redis Locks>'
Logging__LogLevel__Microsoft=1
