SDMS_REDIS_QUEUE_CONNSTR='<Connection String for Redis Queue>'
SDMS_REDIS_QUEUE_NAME='<Name of Redis Queue>'
SDMS_COSMOS_KEY='<Cosmos Account Key>'
SDMS_COSMOS_ENDPOINT='<Cosmos Endpoint>'
SDMS_STORAGE_CONNSTR='<Connection String for Azure Storage>'
SDMS_REDIS_LOCKS_CONNSTR='<Connection String for Redis Locks>'
DES_SERVICE_HOST='<Found in K8S deployment>'
AZURE_CLIENT_ID=''
AZURE_CLIENT_SECRET=''
AZURE_TENANT_ID=''
Logging__LogLevel__Microsoft=1
