SDMS_KEYVAULT_URL='https://kv-xxx.vault.azure.net/'
DES_SERVICE_HOST='<Found in K8S deployment>'
SDMS_REDIS_LOCKS_HOSTNAME='queue-xxx.redis.cache.windows.net'
SDMS_REDIS_LOCKS_PASSWORD='<some password>'
SDMS_REDIS_QUEUE_NAME='deletejobqueuetest'
SDMS_REDIS_QUEUE_HOSTNAME='cache-xxx.redis.cache.windows.net'
SDMS_REDIS_QUEUE_PASSWORD='<some password>'
SDMS_COSMOS_KEY='<primary/secondary Cosmos Key>'
SDMS_COSMOS_ENDPOINT='https://db-xxx.documents.azure.com:443/'
SDMS_STORAGE_CONNSTR='DefaultEndpointsProtocol=https;AccountName=sdms3q6m2bnvbcswi;AccountKey=<some account key>;EndpointSuffix=core.windows.net'
Logging__LogLevel__Debug=1
AZURE_CLIENT_ID='00000000-0000-0000-0000-000000000000'
AZURE_CLIENT_SECRET='<client secret>'
AZURE_TENANT_ID='00000000-0000-0000-0000-000000000000'