#for fasapi and uvicorn
fastapi==0.115.2
uvicorn==0.23.2

#for segy library
segysdk-python==0.0.226342

#for zgy to bingrid
vector==1.1.0

#for static files
aiofiles==23.2.1

#for testing
pytest==7.4.0
jsonschema==4.19.0
requests==2.31.0
requests-mock==1.11.0
behave==1.2.6

#for .env
python-dotenv==1.0.0

#for logging
applicationinsights==0.11.10
azure-keyvault-secrets==4.8.0
azure-identity==1.19.0

#forcing dependency version
cryptography==43.0.1
python-multipart==0.0.12
