SDMS_KEYVAULT_URL='https://kv-xxx.vault.azure.net/'
DES_SERVICE_HOST='<Found in K8S deployment>'
Logging__LogLevel__Debug=1
AZURE_CLIENT_ID='00000000-0000-0000-0000-000000000000'
AZURE_CLIENT_SECRET='<client secret>'
AZURE_TENANT_ID='00000000-0000-0000-0000-000000000000'
SDMS_REDIS_LOCKS_HOSTNAME='queue-xxx.redis.cache.windows.net' //optional, as they can be read from the keyvault 
SDMS_REDIS_LOCKS_PASSWORD='<some password>' //optional, as they can be read from the keyvault 
SDMS_REDIS_QUEUE_HOSTNAME='cache-xxx.redis.cache.windows.net' //optional, as they can be read from the keyvault 
SDMS_REDIS_QUEUE_PASSWORD='<some password>' //optional, as they can be read from the keyvault 
SDMS_COSMOS_KEY='<primary/secondary Cosmos Key>'  //optional if the DES_SERVICE_HOST is specified
SDMS_COSMOS_ENDPOINT='https://db-xxx.documents.azure.com:443/'  //optional if the DES_SERVICE_HOST is specified
SDMS_STORAGE_CONNSTR='DefaultEndpointsProtocol=https;AccountName=<account name>;AccountKey=<some account key>;EndpointSuffix=core.windows.net'  //optional if the DES_SERVICE_HOST is specified
SDMS_REDIS_QUEUE_NAME='sdms-queue-changetier' //optional, as there is a default value
SDMS_CHANGE_TIER_QUEUE='sdms-queue-changetier' //optional, as there is a default value
